html,body{
	height: 100%;
	width: 100%;
	background-image: url('../image/mono.jpg');

	margin: 0;
	padding: 0;
	overflow: hidden;


}


nav{
	height: 20%;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
	background-position: center;
}

nav h1{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
	color: Aqua;
	font-size: 50px;
	position: relative;
}

nav h1 span{
	position: absolute;
	font-size: 20px;
}
.main{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 50%;
	width: 60%;
	border-radius: 50px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	display: inline-block;

}
.main select{
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
	width: 20%;
	margin: 0 auto;
	font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
	font-size: 18px;
	color: #60666d;
}

.main input{
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.time{
	width: 20%;
	margin: 0 auto;
	font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
	font-size: 18px;
	color: #60666d;
}

